// COLORES
$primary: #FF7F40;
$secondary: #08232C;
$info: #FAF3DB;
$dark: #000000;
$light: #ffffff;

// TAMAÑA FUENTE
$h7: 14px;
$h8: 12px;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// FUENTE
// stylelint-disable value-keyword-case
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case
$font-family-base:            'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-code:            'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

// HEADING
$headings-margin-bottom:      $spacer * 0;
$headings-font-family:        "Merriweather";
$headings-font-style:         null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

// BREADCRUMB
$breadcrumb-font-size:              14px;
$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding-x:         .5rem;
$breadcrumb-margin-bottom:          0.1rem;
$breadcrumb-bg:                     null;
$breadcrumb-divider-color:          white;
$breadcrumb-noactive-color:           white;
$breadcrumb-active-color:           white;
$breadcrumb-divider:                quote(">");
$breadcrumb-divider-flipped:        $breadcrumb-divider;
$breadcrumb-border-radius:          null;

