@import "variables.scss";

// VARIABLES DE BOOTSTRAP

.h7 {
    font-size: $h7;
}

.h8 {
    font-size: $h8;
}

// HEADER

#fondoGradiente {

    background: linear-gradient(-45deg, $primary, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .letrasInicio {
        overflow: hidden;
    }
    
    .letrasInicio p, .letrasInicio img {
        animation-name: derecha;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: none;
    }
    
    .letrasInicio p:nth-child(1){
        animation: animacionJava 9s linear 0s infinite normal;
    }
    
    
    .letrasInicio p:nth-child(2){
        animation: animacionSpring 30s linear 0s infinite normal;
    }
    
    .letrasInicio p:nth-child(3){
        animation: animacionThymeleaf 19s linear 0s infinite normal;
    }
    
    .letrasInicio p:nth-child(4){
        animation: animacionGit 15s linear 0s infinite normal;
    }
    
    .letrasInicio img:nth-child(5){
        animation: animacionOveja 50s linear 0s infinite alternate;
    }

    .letrasInicio p:nth-child(6){
        animation: animacionSQL 15s linear 0s infinite normal;
    }

    .letrasInicio p:nth-child(7){
        transform: rotate(270deg);
        animation: animacionLink 30s linear 0s infinite normal;
    }
    
    @keyframes animacionJava {
        0% {top: 33%; left: 0%;}
        100% {top: 33%; left: 280%;}
    }

    @keyframes animacionSpring {
        0% {top: 12%; left: 0%;}
        100% {top: 12%; left: 123%;}
    }
    
    @keyframes animacionThymeleaf {
        0% {top: -30%; left: 71%;}
        100% {top: 120%; left: 71%;}
    }
    
    @keyframes animacionGit {
        0% {top: 22%; left: 123%;}
        100% {top: 22%; left: -5%;}
    }

    @keyframes animacionOveja {
        0% {top: 83%; left: -50%; transform: rotate(0deg);}
        100% {top: 83%; left: 300%; transform: rotate(3600deg);}
    }

    @keyframes animacionSQL {
        0% {top: 74%; left: -11%;}
        100% {top: 74%; left: 450%;}
    }

    @keyframes animacionLink {
        0% {top: 248%; left: 8%;}
        100% {top: -200%; left: 8%;}
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";